html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *:after {
    box-sizing: inherit;
  }

.body {
    background: rgb(88, 88, 100);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {

}

.form__input {
    display: block;
    width: 100%;
}